@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  user-select: none;
}

/* Variables */

:root {
  /* Font Size */
  --font-size-2xs: 0.5rem;
  --font-size-xs: 0.75rem;   /* Tailwind default */
  --font-size-sm: 0.875rem;  /* Tailwind default */
  --font-size-md: 1rem;
  --font-size-md-1: 1.1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-2-2xl: 2.2rem;
  --font-size-2-4xl: 2.4rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 4rem;

  /* Colors */
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --light-black: hsl(234, 17%, 12%);
}

/* Styles */
html,
body {
  background: url('./images/bg-stars.svg') center center/cover no-repeat;
  background-color: var(--very-dark-blue);
}

footer {
  /* height: 10rem;
  width: 100%; */
  background: url('./images/pattern-hills.svg') center center/cover repeat;
}